includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    checkGenericClassInNonGenericObjectType: false

    paths:
        - app/

    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        - "#^Unsafe usage of new static#"

    level: 6